* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$color-primary: red;
$color-tertiary: green;
$color-secondary: blue;
$spacer: 20px;

div {
  text-align: center;
  border: 1px solid $color-primary;
  padding: $spacer;

  h1 {
    display: inline-block;
    color: $color-tertiary;
    text-decoration: 1.5px underline $color-secondary;
  }

  section {
    display: flex;

    article {
      border: 1px solid $color-tertiary;
      padding: $spacer;

      &:nth-child(odd) {
        color: $color-secondary;
      }

      &:nth-child(even) {
        color: $color-primary;
      }
    }
  }
}
